* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1em;
  top: 1em;
  height: 20px;
  width: 28px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger {
  position: absolute;
  right: 0;
  top: 0.5em;
  width: 28px;
  height: 3px;
  background: #f7f7f7;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #f7f7f7;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 28px;
  height: 3px;
  background: #f7f7f7;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger.open {
  transform: rotate(720deg);
  background: transparent;
}
.menu-btn__burger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}
.menu-btn__burger.open::after {
  transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.95;
  visibility: hidden;
}
.nav.open {
  visibility: visible;
}
.nav .menu-nav {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background: #272727;
  list-style-type: none;
  padding-right: 1em;
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
}
.nav .menu-nav.open {
  transform: translateY(0);
}
.nav .menu-nav__item {
  transform: translateX(100vw);
  transition: all 0.5s ease-in-out;
}
.nav .menu-nav__item.open {
  transform: translateX(0);
}
.nav .menu-nav__item.active > a {
  color: #ff652f;
}
.nav .menu-nav__link {
  display: inline-block;
  font-size: 2em;
  padding: 0.5em 0;
  font-weight: 300;
  transition: all 0.5s ease-in-out;
}
.nav .menu-nav__link:hover {
  color: #ff652f;
}

.menu-nav__item:nth-child(1) {
  transition-delay: 0.25s;
}

.menu-nav__item:nth-child(2) {
  transition-delay: 0.35s;
}

.menu-nav__item:nth-child(3) {
  transition-delay: 0.45s;
}

.menu-nav__item:nth-child(4) {
  transition-delay: 0.55s;
}

.home {
  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url(../img/home.jpg) center top;
  background-size: cover;
}
.home__name {
  font-size: 3em;
  margin-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 2px solid #ff652f;
}
.home__name--full {
  color: #ff652f;
}
.home__title {
  margin-top: 0.5em;
}
.home__skills img {
  width: 26px;
  margin-top: 0.4em;
  padding: 0.2em;
}

.about__bio {
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url(../img/nedo-ratic.jpg) center top;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 2em;
}
.about__bio .text-secondary {
  margin-bottom: 1em;
}
.about__bio p {
  width: 80%;
  margin-bottom: 2em;
  text-align: center;
  line-height: 1.2rem;
}
.about__certifications, .about__education {
  width: 60vw;
  margin: 4em auto 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2em;
}
.about__certifications__cert, .about__certifications__uni, .about__education__cert, .about__education__uni {
  background: #414141;
  padding: 0.5em;
  border-bottom: 5px solid #ff652f;
}
.about__certifications__cert h2,
.about__certifications__cert h3,
.about__certifications__cert h4, .about__certifications__uni h2,
.about__certifications__uni h3,
.about__certifications__uni h4, .about__education__cert h2,
.about__education__cert h3,
.about__education__cert h4, .about__education__uni h2,
.about__education__uni h3,
.about__education__uni h4 {
  margin: 0.5em 0;
}
.about__certifications__cert p, .about__certifications__uni p, .about__education__cert p, .about__education__uni p {
  margin: 0.3em 0;
  line-height: 1.2rem;
}
.about__certifications__uni:last-child, .about__education__uni:last-child {
  margin-bottom: 5em;
}

.about__certification__cert__link,
.about__education__uni__link {
  transition: all 0.5s ease-in-out;
}
.about__certification__cert__link:hover,
.about__education__uni__link:hover {
  color: #ff652f;
}

@media (min-width: 830px) {
  .about__bio {
    min-height: 100vw;
  }
}
@media (max-width: 768px) {
  .about-page .about__bio p {
    width: 60%;
  }
  .about-page .social-icons {
    display: flex;
    flex-direction: column;
  }
  .about-page footer {
    display: none;
  }
}
.projects__bio {
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url(../img/home.jpg) center top;
  background-size: cover;
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 2em;
}
.projects__bio .text-secondary {
  margin-bottom: 1em;
}
.projects__bio p {
  width: 80%;
  margin-bottom: 2em;
  text-align: center;
  line-height: 1.2rem;
}
.projects__items {
  width: 60vw;
  margin: 4em auto 4em auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2em;
  padding-bottom: 5em;
}
.projects__item {
  position: relative;
  border-bottom: 5px solid #ff652f;
  overflow: clip;
  cursor: pointer;
}
.projects__item img {
  width: 100%;
}
.projects__item::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  background: #ff652f;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.projects__item:hover::after {
  top: 0;
  opacity: 0.9;
}
.projects__item:hover .projects__btn {
  opacity: 1;
}
.projects__btns {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: center;
}
.projects__btn {
  opacity: 0;
  color: #f7f7f7;
  transition: all 0.5s ease-in-out;
}
.projects__btn:hover {
  color: #111111;
}

@media (max-width: 768px) {
  .projects-page .projects__bio p {
    width: 60%;
  }
  .projects-page .social-icons {
    display: flex;
    flex-direction: column;
  }
  .projects-page footer {
    display: none;
  }
}
.contact {
  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url(../img/home.jpg) center top;
  background-size: cover;
}
.contact h2 {
  font-size: 2em;
  margin-bottom: 2rem;
}
.contact__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2em;
  text-align: center;
  line-height: 1.6em;
}
.contact .social-icons {
  position: initial;
  margin-top: 2em;
}

.contact-page footer {
  position: fixed;
  text-align: center;
  right: 30%;
  left: 30%;
}

@media (min-width: 768px) {
  .projects__items {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
  }
}
@media (min-width: 1024px) {
  .projects__items {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3em;
  }
}
@media (min-width: 1600px) {
  .projects__items {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3em;
  }
}
body {
  height: 100vh;
  background: #272727;
  color: #f7f7f7;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}

h1,
h2,
h3 {
  font-weight: 400;
}

h2 {
  line-height: 1.8rem;
}

a {
  color: #f7f7f7;
  text-decoration: none;
}

.text-secondary {
  color: #ff652f;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1em;
}

main {
  height: 100%;
  width: 100%;
}
main .social-icons {
  position: fixed;
  bottom: 1em;
  left: 1em;
}
main .social-icons a {
  padding: 0.4em;
  transition: all 0.5s ease-in-out;
}
main .social-icons a:hover {
  color: #ff652f;
}

footer {
  position: fixed;
  bottom: 1.5em;
  right: 1em;
  padding: 1em;
  color: #f7f7f7;
  font-size: 0.5em;
  text-align: right;
}

footer a:hover {
  color: #ff652f;
}