// Config

// Variables

$primary-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$dark-color: #111111;
$primary-color: #272727;
$secondary-color: #ff652f;
$text-color: #f7f7f7;

// Reset

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
