// Projects

.projects {
	&__bio {
		background: linear-gradient(to right, rgba($primary-color, 0.9), rgba($primary-color, 0.3)), url(../img/home.jpg) center top;
		background-size: cover;
		min-height: 80vh;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		margin: 0 auto;
		padding-bottom: 2em;

		.text-secondary {
			margin-bottom: 1em;
		}

		p {
			width: 80%;
			margin-bottom: 2em;
			text-align: center;
			line-height: 1.2rem;
		}
	}

	&__items {
		width: 60vw;
		margin: 4em auto 4em auto;
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 2em;
		padding-bottom: 5em;
	}

	&__item {
		position: relative;
		border-bottom: 5px solid $secondary-color;
		overflow: clip;
		cursor: pointer;

		img {
			width: 100%;
			height: 100%;
		}

		&::after {
			content: "";
			position: absolute;
			top: 100%;
			left: 0;
			height: 100%;
			width: 100%;
			background: $secondary-color;
			opacity: 0;
			@include transition-ease;
		}

		&:hover {
			&::after {
				top: 0;
				opacity: 0.9;
			}
			.projects__btn {
				opacity: 1;
			}
		}
	}

	&__btns {
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
		z-index: 1;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		text-align: center;
	}

	&__btn {
		opacity: 0;
		color: set-text-color(set-text-color($secondary-color));
		@include transition-ease;

		&:hover {
			color: set-text-color($secondary-color);
		}
	}
}

@media (max-width: 768px) {
	.projects-page {
		.projects {
			&__bio {
				p {
					width: 60%;
				}
			}
		}

		.social-icons {
			display: flex;
			flex-direction: column;
		}

		footer {
			display: none;
		}
	}
}
